@keyframes fade_in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fade_out {
    from { opacity: 1; }
    to   { opacity: 0; }
}
*:focus {
  outline: none;
}
html {
  height: 100%;
}
body {
  background: url(backgrounds/background_00.png) no-repeat center;
  margin: 0;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito';
  color: rgba(0,0,0,.3);
  animation: fade_in 0.4s;
}
a {
  text-decoration: none;
  color: #fff;
  transition: color .2s;
}
#wrapper {
  height: 100%;
  width: 300px;
}
#page_buttons {
  height: 200px;
  width: 50px;
  margin: auto;
  margin-top: 400px;
  transition: .3s ease-in-out;
}
#page_buttons a div {
  height: 30px;
  width: 30px;
  margin: 5px auto;
  border-radius: 20px;
  opacity: 0.5;
  transition: .5s;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.7));
}
#page_buttons a div:hover {
  opacity: 0.8;
}

#searchbox {
  background: rgba(0,0,0,.2);
  border: none;
  border-radius: 10px;
  color: #FFF;
  font-family: "Roboto" , "ぼくたちのゴシック２ボールド";
  font-size: 14pt;
  font-stretch: condensed;
  line-height: 60px !important;
  position: absolute;
  height: 60px;
  width: 280px;
  padding-left: 20px;
  transition: all 1s ease-in-out !important;
}
#searchbox:focus {
  background: rgba(1,0,2,.4);
  transition: all .3s ease-in-out !important;
}
.move_up {
  bottom: 460px;
}
.move_down {
  bottom: 20px;
}
.fade_out {
  animation: fade_out .5s;
  opacity: 0;
}
.fade_in {
  animation: fade_in .5s;
  opacity: 1;
}
